.destinations {
  padding: var(--section-vertical-padding-mobile)
    var(--section-horizontal-padding-mobile);
}

.destinations-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.destination-block {
  display: block;
  width: 312px;
}

.destination-block header {
  background-color: transparent;
  display: block;
  padding: 0;
  position: static;
}

.destination-block header .destination-image {
  height: 360px;
  width: 312px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.destination-block header .destination-image.tokyo {
  background-image: url(../img/destinations/tokyo-mobile.jpg);
}

.destination-block header .destination-image.osaka {
  background-image: url(../img/destinations/osaka-mobile.jpg);
}

.destination-block header h3 {
  font-weight: var(--title-font-weight);
  font-size: 28px;
  padding: 24px 0;
}

.destination-block p {
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .destinations {
    padding: var(--section-vertical-padding-mobile)
      var(--section-horizontal-padding-tablet);
  }

  .destination-block {
    width: 648px;
  }

  .destination-block header .destination-image {
    height: 452px;
    width: 648px;
  }

  .destination-block header .destination-image.tokyo {
    background-image: url(../img/destinations/tokyo-tablet-desktop.jpg);
  }

  .destination-block header .destination-image.osaka {
    background-image: url(../img/destinations/osaka-tablet-desktop.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .destinations {
    padding: var(--section-vertical-padding-desktop)
      var(--section-horizontal-padding-desktop);
  }

  .destinations-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .destination-block {
    width: 412px;
  }

  .destination-block header .destination-image {
    height: 380px;
    width: 412px;
  }

  .destination-block header .destination-image.tokyo {
    background-image: url(../img/destinations/tokyo-tablet-desktop.jpg);
  }

  .destination-block header .destination-image.osaka {
    background-image: url(../img/destinations/osaka-tablet-desktop.jpg);
  }

  .destination-block p {
    height: 216px;
  }
}

@media screen and (min-width: 1440px) {
  .destination-block {
    width: 588px;
  }

  .destination-block header .destination-image {
    height: 452px;
    width: 588px;
  }

  .destination-block p {
    height: auto;
  }
}
