/* --- BASE DESTINATIONS --- */
.destinations-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.destination-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.destination-block header .destination-image {
  height: 360px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.destination-block.tokyo header .destination-image {
  background-image: url(../img/destinations/tokyo-mobile.jpg);
}

.destination-block.osaka header .destination-image {
  background-image: url(../img/destinations/osaka-mobile.jpg);
}

.destination-block header .content-title {
  padding: 24px 0;
}

.destination-block .content-text {
  padding-bottom: 24px;
}

.destination-block footer .button {
  width: 100%;
}

/* --- BLOG DESTINATIONS --- */
.blog .destination-block header .destination-image {
  height: 300px;
}

.blog .destination-block.osaka header .destination-image {
  background-image: url(../img/destinations/blog/osaka-blog-mobile.jpg);
}

.blog .destination-block.hiroshima header .destination-image {
  background-image: url(../img/destinations/blog/hiroshima-blog-mobile.jpg);
}

.blog .destination-block.kyoto header .destination-image {
  background-image: url(../img/destinations/blog/kyoto-blog-mobile.jpg);
}

/* --- MEDIA QUERIES --- */
@media screen and (min-width: 768px) {
  /* - BASE DESTINATIONS - */
  .destination-block header .destination-image {
    height: 452px;
  }

  .destination-block.tokyo header .destination-image {
    background-image: url(../img/destinations/tokyo-tablet-desktop.jpg);
  }

  .destination-block.osaka header .destination-image {
    background-image: url(../img/destinations/osaka-tablet-desktop.jpg);
  }

  .destination-block footer .button {
    width: 280px;
  }

  /* - BLOG DESTINATIONS - */
  .blog .destination-block.osaka header .destination-image {
    background-image: url(../img/destinations/blog/osaka-blog-tablet.jpg);
  }

  .blog .destination-block.hiroshima header .destination-image {
    background-image: url(../img/destinations/blog/hiroshima-blog-tablet.jpg);
  }

  .blog .destination-block.kyoto header .destination-image {
    background-image: url(../img/destinations/blog/kyoto-blog-tablet.jpg);
  }
}

@media screen and (min-width: 1024px) {
  /* - BASE DESTINATIONS - */
  .destinations-container {
    flex-direction: row;
    gap: 24px;
  }

  .destination-block header .destination-image {
    height: 380px;
  }

  /* - BLOG DESTINATIONS - */
  .destinations-container.blog {
    flex-direction: column;
  }
}

@media screen and (min-width: 1440px) {
  /* - BASE DESTINATIONS - */
  .destination-block header .destination-image {
    height: 452px;
  }

  /* - BLOG DESTINATIONS - */
  .destinations-container.blog {
    flex-direction: row;
  }
}
