@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

/* VARIABLES */
:root {
  --highlight-primary-color: #b81515;
  --highlight-secondary-color: #8f0101;

  --background-primary-color: #ffffff;
  --background-secondary-color: #000000;
  --background-tertiary-color: #f5f5f5;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --inputbox-primary-color: #d9d9d9;

  --card-overlay: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  --hero-overlay: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));

  --font-main-name: "Montserrat";

  --menu-font-weight: 500;
  --text-font-weight: 400;
  --title-font-weight: 700;

  --section-vertical-padding-mobile: 44px;
  --section-vertical-padding-desktop: 52px;

  --section-horizontal-padding-mobile: 24px;
  --section-horizontal-padding-tablet: 60px;
  --section-horizontal-padding-desktop: 8.3%;
}
/* CSS RESET */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main-name), sans-serif;
  color: var(--text-primary-color);
}

section {
  padding: var(--section-vertical-padding-mobile)
    var(--section-horizontal-padding-mobile);
}

section.hero {
  padding: 0;
}

.page-title h1 {
  color: var(--text-secondary-color);
  font-weight: var(--title-font-weight);
  font-size: 48px;
  max-width: 312px;
  text-align: left;
  padding: 0;
}

.separation-line {
  width: 180px;
  height: 4px;
  color: var(--text-secondary-color);
  background-color: var(--highlight-primary-color);
  border: none;
  margin: 16px 0 32px;
}

.section-title h2 {
  font-weight: var(--title-font-weight);
  font-size: 32px;
  max-width: 312px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.section-title .separation-line {
  margin: 16px auto 32px;
}

.content-title {
  color: var(--text-primary-color);
  font-weight: var(--title-font-weight);
  font-size: 28px;
}

.content-text {
  font-size: 20px;
  line-height: 32px;
}

.content-text.small {
  font-size: 16px;
  line-height: 28px;
}

.button {
  display: inline-block;
  width: 280px;
  height: 64px;
  border-radius: 8px;
  background-color: var(--highlight-primary-color);
  color: var(--text-secondary-color);
  font-weight: var(--title-font-weight);
  font-size: 20px;
  line-height: 64px;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  section {
    padding: var(--section-vertical-padding-mobile)
      var(--section-horizontal-padding-tablet);
  }

  .page-title h1 {
    max-width: 600px;
  }

  .section-title h2 {
    max-width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  section {
    padding: var(--section-vertical-padding-desktop)
      var(--section-horizontal-padding-desktop);
  }

  .section-title h2 {
    max-width: 700px;
  }

  .button:hover {
    background-color: var(--highlight-secondary-color);
  }
}
