.main-header {
  background-color: var(--background-secondary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 37px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.img-logo-mobile {
  display: block;
}

.img-logo-desktop {
  display: none;
}

.navigation-menu {
  height: 32px;
}

.navigation-menu label {
  display: inline-block;
  height: 32px;
  width: 32px;
}

.navigation-menu img {
  padding: 8px 4px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  background-color: var(--background-secondary-color);
}

nav {
  display: none;
}

.navigation-list li {
  list-style: none;
  margin: 16px 37px;
}

.navigation-list li a {
  color: var(--text-secondary-color);
  text-decoration: none;
  font-weight: var(--menu-font-weight);
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .navigation-menu {
    margin: 0;
    width: 467px;
  }

  .navigation-menu label {
    display: none;
  }

  .navigation-menu nav {
    display: block;
  }

  .navigation-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .navigation-list li {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .main-header {
    padding: 37px 8.3%;
  }

  .logo {
    width: 260px;
    height: 64px;
  }

  .img-logo-mobile {
    display: none;
  }

  .img-logo-desktop {
    display: block;
  }

  .navigation-list li a:hover {
    color: var(--highlight-secondary-color);
    font-weight: var(--title-font-weight);
  }
}
